<footer class="footer mt-pad">
<div class="row">
	<nav class="nav-footer">
		<ul>
			<li class="top-section"><a href="/about" title="About Brittania-U">About Brittania-U</a> </li>
			<li><a href="/about" title="Brittania-U at a Glance">At A Glance</a></li>
			<li><a href="/about/our-history.html" title="Brittania-U's History">History of Brittania-U</a></li>
			<li><a href="/about/vision-and-mission.html" title="Vision and Mission">Vision and Mission</a></li>
			<li><a href="/about/board-and-executive-team.html" title="Board and Executive Team">Board and Executive Team</a></li>
			<li><a href="/about/what-we-do.html" title="What We Do">What We Do</a></li>
			<li><a href="/about/people-and-values.html" title="People and Values">People and Values</a></li>
			<li><a href="/about/awards-and-recognition.html" title="Awards and Recognition">Awards &amp; Recognition</a></li>
		</ul>

		<ul>
			<li class="top-section"><a href="/the-group.html" title="The Group">The Group</a></li>
			<li><a href="/the-group/group-organisation.html" title="Group Organisation">Group Organisation</a></li>
			<li><a href="/the-group/brittania-u.html" title="Brittania-U Nigeria">Brittania-U </a></li>
			<li><a href="/the-group/dacl.html" title="DACL">DACL</a></li>
			<li><a href="/the-group/brittania-u-oil-and-driling" title="Brittania-U Oil and Drilling">Brittania-U Oil and Drilling</a></li>
			<li><a href="/the-group/nextee-oil-and-gas-trading-company" title="Nextee Oil and Gas Trading Company">Nextee Oil and Gas Trading Company</a></li>
		</ul>

		<ul>
			<li class="top-section"><a href="/our-committment" title="Our Committment">Our Comittment</a></li>
			<li><a href="/our-committment/industrial-health-and-safety.html" title="Industrial Health and Safety">Industrial Health and Safety</a></li>
			<li><a href="/our-committment/our-employees.html" title="Our Employees">Our Employees</a></li>
			<!-- <li><a href="/our-committment/ethics-and-values" title="Ethics and Values">Ethics and Values</a></li> -->
			<li><a href="/our-committment/csr-and-community-development.html" title="CSR and Community Development">CSR and Community Development</a></li>
		</ul>

		<ul>
			<li class="top-section"><a href="/assets" title="Assets">Assets</a></li>
			<li class="top-section"><a href="/contact" title="Contact">Contact</a></li>
			<li class="top-section"><a href="/media" title="Media">Media</a></li>
		</ul>
	</nav>

	<div class="footer-social">
		<a href="http://www.twitter.com/brittania-u" class="icon-twitter" title="Brittania-U on Twitter"></a><a href="http://www.facebook.com/brittania-u" class="icon-facebook" title="Brittania-U on Facebook"></a>
	</div>
</div>

<div class="sitemap-legal">
	<ul class="small-12 large-8 columns">
		<li>
			<a href="/sitemap.html" title="Sitemap">Sitemap</a>
		</li>
<!-- 		<li><a href="/legal-notice.html" title="Legal Notice">Legal Notice</a>
		</li> -->
		<li><a href="/privacy-statement.html" title="Privacy Statement">Privacy Statement</a>
		</li>
		<li><a href="/contact" title="Contact Us">Contact Us</a>
		</li>
		<li><a href="/careers.html" title="Careers at Brittania-U">Careers</a></li>
		</li>
	</ul>

	<div class="small-12 large-4 columns copyright collapse">
		&copy; {{ now.year }} Brittania-U Energy Resources Limited
	</div>
</div>
</footer>

{# Scripts #}
{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js" %}

{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js" %}

{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js" %}

{% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js" %}

{% includeJsFile "/assets/js/equalize.min.js" %}

{% includeJsFile "/assets/js/app.js" %}

</body>
</html>