<header class="header mt-pad">
	<div class="logo"><a href="/" title="Brittania-U"><img src="/assets/img/Brittania-U-logo.svg" alt="Brittania-U" width="160">
		<h1 class="show-for-sr">Brittania-U Nigeria Limited</h1></a>
	</div>
	<div class="nav-main">
		<nav class="nav">
			<ul>
				<li><a href="/about" title="About Brittania-U">About Brittania U</a></li>
				<li><a href="/the-group" title="The Group">The Group</a></li>
				<li><a href="/our-committment" title="Our Committment">Our Committment</a></li>
				<li><a href="/assets" title="Assets">Assets</a></li>
				<li><a href="/press-and-media" title="Press and Media">Press &amp; Media</a></li>
				<li><a href="/contact" title="Contact">Contact</a></li>
			</ul>
		</nav>

		<div class="hamburger">
		  <div class="hamburger__icon">
		    <span></span>
		    <span></span>
		    <span></span>
		    <span></span>
		  </div>
		</div>
	</div>
</header>